.nav-wrapper {
  margin: 0px 20px;
}

.price {
  font-size: 2rem;
}

.car {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car h1 {
  margin-bottom: 3rem;
}

.car img {
  max-width: 600px;
  height: auto;
}

.car .price.big {
  font-size: 2.5rem;
}

.card-action.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}